<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxx.business.mapper.TbTestUserSubMapper">

    <resultMap type="TbTestUserSub" id="TbTestUserSubResult">
        <result property="subId"    column="sub_id"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="status"    column="status"    />
        <result property="registerDate"    column="register_date"    />
        <result property="registerTime"    column="register_time"    />
        <result property="createById"    column="create_by_id"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateById"    column="update_by_id"    />
        <result property="updateByName"    column="update_by_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="TbTestUserSubTbTestUserResult" type="TbTestUserSub" extends="TbTestUserSubResult">
        <collection property="tbTestUserList" ofType="TbTestUser" column="sub_id" select="selectTbTestUserList" />
    </resultMap>

    <resultMap type="TbTestUser" id="TbTestUserResult">
        <result property="userId"    column="user_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="status"    column="status"    />
        <result property="registerDate"    column="register_date"    />
        <result property="registerTime"    column="register_time"    />
        <result property="createById"    column="create_by_id"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateById"    column="update_by_id"    />
        <result property="updateByName"    column="update_by_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTbTestUserSubVo">
        select sub_id, user_name, password, status, register_date, register_time, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark from tb_test_user_sub
    </sql>

    <select id="selectTbTestUserSubList" parameterType="TbTestUserSub" resultMap="TbTestUserSubResult">
        <include refid="selectTbTestUserSubVo"/>
        <where>
            <if test="userName != null and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null and password != ''"> and password = #{password}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="registerDate != null"> and register_date = #{registerDate}</if>
            <if test="registerTime != null"> and register_time = #{registerTime}</if>
        </where>
    </select>

    <select id="selectTbTestUserSubBySubId" parameterType="Long" resultMap="TbTestUserSubTbTestUserResult">
        select sub_id, user_name, password, status, register_date, register_time, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark
        from tb_test_user_sub
        where sub_id = #{subId}
    </select>

    <select id="selectTbTestUserList" resultMap="TbTestUserResult">
        select user_id, parent_id, user_name, password, status, register_date, register_time, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark
        from tb_test_user
        where parent_id = #{parent_id}
    </select>

    <insert id="insertTbTestUserSub" parameterType="TbTestUserSub" useGeneratedKeys="true" keyProperty="subId">
        insert into tb_test_user_sub
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null">password,</if>
            <if test="status != null">status,</if>
            <if test="registerDate != null">register_date,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="createById != null">create_by_id,</if>
            <if test="createByName != null">create_by_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateById != null">update_by_id,</if>
            <if test="updateByName != null">update_by_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="status != null">#{status},</if>
            <if test="registerDate != null">#{registerDate},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="createById != null">#{createById},</if>
            <if test="createByName != null">#{createByName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateById != null">#{updateById},</if>
            <if test="updateByName != null">#{updateByName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTbTestUserSub" parameterType="TbTestUserSub">
        update tb_test_user_sub
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="status != null">status = #{status},</if>
            <if test="registerDate != null">register_date = #{registerDate},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="createById != null">create_by_id = #{createById},</if>
            <if test="createByName != null">create_by_name = #{createByName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateById != null">update_by_id = #{updateById},</if>
            <if test="updateByName != null">update_by_name = #{updateByName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where sub_id = #{subId}
    </update>

    <delete id="deleteTbTestUserSubBySubId" parameterType="Long">
        delete from tb_test_user_sub where sub_id = #{subId}
    </delete>

    <delete id="deleteTbTestUserSubBySubIds" parameterType="List">
        delete from tb_test_user_sub where sub_id in
        <foreach item="subId" collection="list" open="(" separator="," close=")">
            #{subId}
        </foreach>
    </delete>

    <delete id="deleteTbTestUserByParentIds" parameterType="List">
        delete from tb_test_user where parent_id in
        <foreach item="parentId" collection="list" open="(" separator="," close=")">
            #{parentId}
        </foreach>
    </delete>

    <delete id="deleteTbTestUserByParentId" parameterType="Long">
        delete from tb_test_user where parent_id = #{parentId}
    </delete>

    <select id="selectUserIdsByParentId" parameterType="Long" resultType="Long">
        select user_id from tb_test_user where parent_id = #{parentId}
    </select>

    <insert id="insertTbTestUser" parameterType="TbTestUser">
        insert into tb_test_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null">password,</if>
            <if test="status != null">status,</if>
            <if test="registerDate != null">register_date,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="createById != null">create_by_id,</if>
            <if test="createByName != null">create_by_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateById != null">update_by_id,</if>
            <if test="updateByName != null">update_by_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="status != null">#{status},</if>
            <if test="registerDate != null">#{registerDate},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="createById != null">#{createById},</if>
            <if test="createByName != null">#{createByName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateById != null">#{updateById},</if>
            <if test="updateByName != null">#{updateByName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTbTestUser" parameterType="TbTestUser">
        update tb_test_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="status != null">status = #{status},</if>
            <if test="registerDate != null">register_date = #{registerDate},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="createById != null">create_by_id = #{createById},</if>
            <if test="createByName != null">create_by_name = #{createByName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateById != null">update_by_id = #{updateById},</if>
            <if test="updateByName != null">update_by_name = #{updateByName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteTbTestUser" parameterType="TbTestUser">
        delete from tb_test_user
        <where>
            <choose>
                <when test="list != null and list.size() > 0">
                    user_id IN
                    <foreach item="userId" collection="list" open="(" separator="," close=")">
                        #{userId}
                    </foreach>
                </when>
                <otherwise>
                    <!-- 防止删除所有数据 -->
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </delete>
</mapper>