<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxx.tenantA.mapper.BusinessMapper">
    
    <resultMap type="Business" id="BusinessResult">
        <result property="businessId"    column="business_id"    />
        <result property="detail"    column="detail"    />
    </resultMap>

    <sql id="selectBusinessVo">
        select business_id, detail from business
    </sql>

    <select id="selectBusinessList" parameterType="Business" resultMap="BusinessResult">
        <include refid="selectBusinessVo"/>
        <where>  
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
        </where>
    </select>

    <select id="selectBusinessByBusinessId" parameterType="Long" resultMap="BusinessResult">
        <include refid="selectBusinessVo"/>
        where business_id = #{businessId}
    </select>

    <insert id="insertBusiness" parameterType="Business" useGeneratedKeys="true" keyProperty="businessId">
        insert into business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detail != null">detail,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detail != null">#{detail},</if>
         </trim>
    </insert>

    <update id="updateBusiness" parameterType="Business">
        update business
        <trim prefix="SET" suffixOverrides=",">
            <if test="detail != null">detail = #{detail},</if>
        </trim>
        where business_id = #{businessId}
    </update>

    <delete id="deleteBusinessByBusinessId" parameterType="Long">
        delete from business where business_id = #{businessId}
    </delete>

    <delete id="deleteBusinessByBusinessIds" parameterType="List">
        delete from business where business_id in 
        <foreach item="businessId" collection="list" open="(" separator="," close=")">
            #{businessId}
        </foreach>
    </delete>
</mapper>