package ${packageName}.domain;

#foreach ($import in $importList)
import ${import};
#end
#if($table.crud || $table.sub)
import com.yxx.common.core.domain.BaseQueryDtoEntity;
#elseif($table.tree)
import com.yxx.common.core.domain.TreeEntity;
#end
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.experimental.Accessors;
import lombok.*;

/**
 * ${functionName}查询Dto对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
#set($Entity="BaseQueryDtoEntity")
#elseif($table.tree)
#set($Entity="TreeEntity")
#end
@Schema(description = "${functionName}查询条件实体")
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = true)
@Accessors(chain = true)
@Builder
@Data
public class ${ClassName}QueryDto extends ${Entity} {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField))
## 添加swagger
    @Schema(description = "$column.columnComment")
    private $column.javaType $column.javaField;

#end
#end
}
