-- 菜单 SQL
insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
#set($path=${moduleName} + $businessName.substring(0,1).toUpperCase() + ${businessName.substring(1)})
values('${functionName}', '${parentMenuId}', '1', '$path', '${moduleName}/${businessName}/index', 1, 0, 'C', '0', '0', '${permissionPrefix}:list', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '${functionName}菜单');

-- 按钮父菜单ID
SELECT @parentId := LAST_INSERT_ID();

-- 按钮 SQL
insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
values('${functionName}查询', @parentId, '1',  '#', '', 1, 1, 'F', '0', '0', '${permissionPrefix}:query', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
values('${functionName}新增', @parentId, '2',  '#', '', 1, 1, 'F', '0', '0', '${permissionPrefix}:add', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
values('${functionName}修改', @parentId, '3',  '#', '', 1, 1, 'F', '0', '0', '${permissionPrefix}:edit', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
values('${functionName}删除', @parentId, '4',  '#', '', 1, 1, 'F', '0', '0', '${permissionPrefix}:remove', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
values('${functionName}导出', @parentId, '5',  '#', '', 1, 1, 'F', '0', '0', '${permissionPrefix}:export', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '');

insert into sys_menu (menu_name, parent_id, order_num, path, component, is_frame, is_cache, menu_type, visible, status, perms, icon, create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark)
values('${functionName}导入', @parentId, '6',  '#', '', 1, 1, 'F', '0', '0', '${permissionPrefix}:import', '#', 1, 'admin', sysdate(), 1, 'admin', sysdate(), '');