package ${packageName}.mapper;

import java.util.List;

import ${packageName}.domain.${ClassName}Do;
import ${packageName}.domain.${ClassName}QueryDto;
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end
import com.yxx.common.core.mapper.BaseMapperPlus;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapperPlus<${ClassName}Do> {

    /**
     * 查询${functionName}列表
     *
     * @param ${className}QueryDto ${functionName}查询实体
     * @return ${functionName}集合
     */
    public List<${ClassName}Do> select${ClassName}List(${ClassName}QueryDto ${className}QueryDto);

    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}单个
     */
    public ${ClassName}Do select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 新增${functionName}
     *
     * @param ${className}Do ${functionName}数据库实体
     * @return 结果
     */
    public int insert${ClassName}(${ClassName}Do ${className}Do);

    /**
     * 修改${functionName}
     *
     * @param ${className}Do ${functionName}数据库实体
     * @return 结果
     */
    public int update${ClassName}(${ClassName}Do ${className}Do);

    /**
     * 删除${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return 结果
     */
    public int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 批量删除${functionName}
     *
     * @param ${pkColumn.javaField}s 需要删除的数据主键集合
     * @return 结果
     */
    public int delete${ClassName}By${pkColumn.capJavaField}s(List<${pkColumn.javaType}> ${pkColumn.javaField}s);
#if($table.sub)

    /**
     * 批量删除${subTable.functionName}
     *
     * @param ${pkColumn.javaField}s 需要删除的数据主键集合
     * @return 结果
     */
    public int delete${subClassName}By${subTableFkClassName}s(List<${pkColumn.javaType}> ${pkColumn.javaField}s);

    /**
     * 批量新增${subTable.functionName}
     *
     * @param ${subclassName}List ${subTable.functionName}列表
     * @return 结果
     */
    public int batch${subClassName}(List<${subClassName}> ${subclassName}List);

    /**
     * 通过${functionName}主键删除${subTable.functionName}信息
     *
     * @param ${pkColumn.javaField} ${functionName}ID
     * @return 结果
     */
    public int delete${subClassName}By${subTableFkClassName}(${pkColumn.javaType} ${pkColumn.javaField});
#end
}
