package ${packageName}.service;

import java.util.List;

import com.yxx.common.core.domain.PageResult;
#if($table.sub || $table.tree)
#set($ClassDo=${ClassName})
#set($ClassVo=${ClassName})
#set($ClassQueryDto=${ClassName})
#set($classQueryDto="${className}")
#set($ClassEditDto="${ClassName}")
#set($classEditDto="${className}")
#else
#set($ClassDo="${ClassName}Do")
#set($ClassVo="${ClassName}Vo")
#set($ClassQueryDto="${ClassName}QueryDto")
#set($classQueryDto="${className}QueryDto")
#set($ClassEditDto="${ClassName}EditDto")
#set($classEditDto="${className}QueryDto")
#end
#if($table.sub || $table.tree)
import ${packageName}.entity.${ClassDo};
#else
import ${packageName}.entity.${ClassDo};
import ${packageName}.entity.${ClassVo};
import ${packageName}.entity.${ClassQueryDto};
import ${packageName}.entity.${ClassEditDto};
#end
import com.yxx.common.core.service.IServicePlus;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IServicePlus<${ClassDo}> {

    /**
     * 查询${functionName}分页结果
     *
     * @param ${classQueryDto} ${functionName}查询实体
     * @return ${functionName}分页
     */
    public PageResult<${ClassName}> select${ClassVo}Page(${ClassQueryDto} ${classQueryDto});
#if($table.sub || $table.tree)
#else

    /**
     * 查询${functionName}Vo列表
     *
     * @param ${classQueryDto} ${functionName}查询实体
     * @return ${functionName}集合
     */
    public List<${ClassName}> select${ClassVo}List(${ClassQueryDto} ${classQueryDto});
#end

    /**
     * 查询${functionName}Do列表
     *
     * @param ${classQueryDto} ${functionName}查询实体
     * @return ${functionName}集合
     */
    public List<${ClassDo}> select${ClassDo}List(${ClassQueryDto} ${classQueryDto});

    /**
     * 查询单个${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return ${functionName}单个
     */
    public ${ClassVo} select${ClassVo}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 新增${functionName}
     *
     * @param ${classEditDto} ${functionName}编辑实体
     * @return 结果
     */
    public int insert${ClassName}(${ClassEditDto} ${classEditDto});

    /**
     * 修改${functionName}
     *
     * @param ${pkColumn.javaField} 主键
     * @param ${classEditDto} ${functionName}编辑实体
     * @return 结果
     */
    public int update${ClassName}(${pkColumn.javaType} ${pkColumn.javaField}, ${ClassEditDto} ${classEditDto});

    /**
     * 批量删除${functionName}
     *
     * @param ${pkColumn.javaField}s ${functionName}主键集合
     * @return 结果
     */
    public int delete${ClassName}By${pkColumn.capJavaField}s(List<${pkColumn.javaType}> ${pkColumn.javaField}s);

    /**
     * 删除单个${functionName}信息
     *
     * @param ${pkColumn.javaField} ${functionName}主键
     * @return 结果
     */
    public int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});
}
