<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxx.pay.mapper.PayOrderMapper">

    <resultMap type="com.yxx.pay.core.domain.order.PayOrderDO" id="PayOrderResult">
        <id property="orderId" column="order_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="userId" column="user_id"/>
        <result property="merchantOrderId" column="merchant_order_id"/>
        <result property="subject" column="subject"/>
        <result property="body" column="body"/>
        <result property="channelId" column="channel_id"/>
        <result property="channelCode" column="channel_code"/>
        <result property="channelUserId" column="channel_user_id"/>
        <result property="channelOrderNo" column="channel_order_no"/>
        <result property="payPrice" column="pay_price"/>
        <result property="channelFeeRate" column="channel_fee_rate"/>
        <result property="channelFeePrice" column="channel_fee_price"/>
        <result property="orderStatus" column="order_status"/>
        <result property="expireTime" column="expire_time"/>
        <result property="successTime" column="success_time"/>
        <result property="extensionId" column="extension_id"/>
        <result property="refundPrice" column="refund_price"/>
        <result property="createById" column="create_by_id"/>
        <result property="createByName" column="create_by_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateById" column="update_by_id"/>
        <result property="updateByName" column="update_by_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPayOrderVo">
        select order_id, order_no, user_id, merchant_order_id, subject, body,
               channel_id, channel_code, channel_user_id, channel_order_no,
               pay_price, channel_fee_rate, channel_fee_price, order_status,
               expire_time, success_time, extension_id, refund_price,
               create_by_id, create_by_name, create_time, update_by_id, update_by_name, update_time, remark
        from pay_order
    </sql>

    <select id="selectByOrderId" parameterType="Long" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        where order_id = #{orderId}
    </select>

    <select id="selectByOrderNo" parameterType="String" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        where order_no = #{orderNo}
    </select>

    <select id="selectByMerchantOrderId" parameterType="String" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        where merchant_order_id = #{merchantOrderId}
    </select>

    <select id="selectOrderPageList" parameterType="com.yxx.pay.core.entity.vo.order.PayOrderPageReqVO" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="merchantOrderId != null and merchantOrderId != ''">
                and merchant_order_id = #{merchantOrderId}
            </if>
            <if test="channelCode != null and channelCode != ''">
                and channel_code = #{channelCode}
            </if>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
            <if test="createTimeBegin != null">
                and create_time &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                and create_time &lt;= #{createTimeEnd}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectListByStatusAndExpireTimeLt" resultMap="PayOrderResult">
        <include refid="selectPayOrderVo"/>
        where order_status = #{status} and expire_time &lt; #{expireTime}
    </select>

    <update id="updateByIdAndStatus">
        update pay_order
        <set>
            <if test="updateObj.channelId != null">channel_id = #{updateObj.channelId},</if>
            <if test="updateObj.channelCode != null">channel_code = #{updateObj.channelCode},</if>
            <if test="updateObj.channelUserId != null">channel_user_id = #{updateObj.channelUserId},</if>
            <if test="updateObj.channelOrderNo != null">channel_order_no = #{updateObj.channelOrderNo},</if>
            <if test="updateObj.channelFeeRate != null">channel_fee_rate = #{updateObj.channelFeeRate},</if>
            <if test="updateObj.channelFeePrice != null">channel_fee_price = #{updateObj.channelFeePrice},</if>
            <if test="updateObj.orderStatus != null">order_status = #{updateObj.orderStatus},</if>
            <if test="updateObj.successTime != null">success_time = #{updateObj.successTime},</if>
            <if test="updateObj.extensionId != null">extension_id = #{updateObj.extensionId},</if>
            <if test="updateObj.refundPrice != null">refund_price = #{updateObj.refundPrice},</if>
            update_time = now()
        </set>
        where order_id = #{orderId} and order_status = #{status}
    </update>

    <update id="updateRefundPrice">
        update pay_order
        set refund_price = refund_price + #{incrRefundPrice},
            order_status = case when refund_price + #{incrRefundPrice} >= pay_price then 20 else order_status end,
            update_time = now()
        where order_id = #{orderId}
    </update>

</mapper>
